theme: jekyll-theme-chirpy
lang: zh-CN

url: "https://blog.yungyu.tech"

avatar: "assets/img/avatar.jpeg"

title: 羊羽'Blog

tagline: 一头扎进代码的汪洋大海...

description: >-
  悲观者正确，乐观者成功，自律者自由。
  行者常至，为者常成。
  唯一可以掌控的只有代码。

github:
  username: yungyu16

social:
  name: 羊羽
  email: yungyu16@qq.com
  links:
    - https://github.com/yungyu16

toc: true
paginate: 10
backgroud_animation: true

comments:
  provider: giscus
  giscus:
    repo: yungyu16/yungyu16.github.io
    repo_id: MDEwOlJlcG9zaXRvcnkzOTE1MTg5NjM=
    category: Announcements
    category_id: DIC_kwDOF1Ya884CxUtk

# Self-hosted static assets, optional › https://github.com/cotes2020/chirpy-static-assets
assets:
  self_host:
    enabled: # boolean, keep empty means false
    # specify the Jekyll environment, empty means both
    # only works if `assets.self_host.enabled` is 'true'
    env: # [development | production]


# ------------ The following options are not recommended to be modified ------------------
kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts: # Rouge Options › https://github.com/jneen/rouge#full-options
    css_class: highlight
    # default_lang: console
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: "" # An empty string here means all files in the project
      type: posts
    values:
      layout: post
      comments: true # Enable comments in posts.
      toc: true # Display TOC column in posts.
      # DO NOT modify the following parameter unless you are confident enough
      # to update the code of all other post links in this project.
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs # see `site.collections`
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed
  quiet_deps: true

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [ development ]

jekyll-archives:
  enabled:
    - tags
  layouts:
    tag: tag
  permalinks:
    tag: /tags/:name/

exclude:
  - "depblog"
  - "Makefile"
  - "newblog"
  - "_backup"
  - ".idea/*"
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - purgecss.js
  - "*.config.js"
  - "package*.json"
