<!-- 不蒜子站点统计，放在页脚处 (footer.html 中插入) -->
<script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{% if page.layout == "post" %}
<!-- Display page-specific view count -->
<i class="fa fa-eye" aria-hidden="true"></i> <span id="busuanzi_value_page_pv"></span>
{% else %}
<!-- Display site-wide unique visitors and page views -->
<i class="fa fa-user" aria-hidden="true"></i> <span id="busuanzi_value_site_uv"></span> |
<i class="fa fa-eye" aria-hidden="true"></i> <span id="busuanzi_value_site_pv"></span>
{% endif %}